* {
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
}

.clock-item-handler-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.clock-container {
  display: flex;
  height: 500px;
  border: 1px solid red;
}

.item-handler-container {
  display: flex;
  height: 500px;
  border: 1px solid red;
}

.shy-ball-container {
  display: flex;
  border: 1px solid red;
  width: 50%;
}